#login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: white;
    border: 3px solid black;
    text-align: center;
}

#login-box input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#login-box input[type="submit"] {
    background: #4CAF50;
    color: white;
    border: none;
}

#login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #45a049;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
}

#back {
    position: absolute;
    top: 15px;
    right: 10px;
}

#back a {
    background-color: white;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 5px;
}

#back a:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}